:root {
    --main-color : #00A29A;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;900&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

header {
    height: 56px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding: 32px 16px;
}

.container {

}

h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
}

.content-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.content-list > li {
    width: calc(50% - 8px);
    height: 100px;
}

.search { 
    width: 80px;
    height: 80px;
    border: none;
    outline: none;
    border-radius: 50%;
    position: fixed;
    bottom: 16px;
    right: 16px;
    font-size: 16px;
    background-color: var(--main-color);
    color: white;
}

.search:active {
    filter: contrast(1.5);
}